
body {
    font: 24px Helvetica;
    /*background: #999999;*/
}

/*#wrapper {*/
    /*display: flex;*/
    /*border: 10px solid goldenrod;*/
    /*flex-direction: column;*/
/*}*/

#wrapper > nav {
    display: flex;
}

#nav {
    position:        fixed;
    top:             0px;
    margin:          0px -10px;
    z-index:         10000;
    width:           100%;
    height:          30px;
    background:      #2196f3;
    color:           white;
    padding:         5px;
 }
#nav a {
    color:           white;
    text-decoration: none;
    padding:         0px 5px;
}

#hosts {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink:1;
    /*flex-wrap: nowrap;*/
    padding: 5px;
}

#article {
    flex-grow: 1;
    flex_shrink: 1;
}

#spinner {
    float:right; 
    display: none
}

footer {
    font-size: x-small;
}

#version {
    font-size: x-small;
    float: right;
}

#LogArea {
    font-size:      12px;
    width:          100%;
    font-family:    Courier, fixed;
    height:         150px;
}

.fitem, #wrapper {
    /*border: 1px dotted grey;*/
    /*border-radius: 7pt;*/
    /*background: white;*/
    margin: 1px;
    padding:10px;
}

/* See flexbox.io #16 for some of these tricks */
.slider-nav ul {
    /*border: 1px dotted grey;*/
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
}
.slider-nav li {
    flex: 1;
    /*border: 1px solid red;*/
    text-align: center;
    background: lightgrey;
}
.slider-nav a {
    display: block;
    width: 100%;
}
.slider-nav a:hover {
    background: rgba(0,0,0,0.4);
}

header {
    background: #2196F3; /* material.io 500 blue */
    color: white;
}

textarea {
    border: 0;
}
/*#main > article {*/
    /*margin: 4px;*/
    /*padding: 5px;*/
    /*border: 1px solid #cccc33;*/
    /*border-radius: 7pt;*/
    /*background: #dddd88;*/
    /*-webkit-flex: 3 1 60%;*/
    /*flex: 3 1 60%;*/
    /*-webkit-order: 2;*/
    /*order: 2;*/
/*}*/

/*#main > nav {*/
    /*margin: 4px;*/
    /*padding: 5px;*/
    /*border: 1px solid #8888bb;*/
    /*border-radius: 7pt;*/
    /*background: #ccccff;*/
    /*-webkit-flex: 1 6 20%;*/
    /*flex: 1 6 20%;*/
    /*-webkit-order: 1;*/
    /*order: 1;*/
/*}*/

/*#main > aside {*/
    /*margin: 4px;*/
    /*padding: 5px;*/
    /*border: 1px solid #8888bb;*/
    /*border-radius: 7pt;*/
    /*background: #ccccff;*/
    /*-webkit-flex: 1 6 20%;*/
    /*flex: 1 6 20%;*/
    /*-webkit-order: 3;*/
    /*order: 3;*/
/*}*/

/*header, footer {*/
    /*display: block;*/
    /*margin: 4px;*/
    /*padding: 5px;*/
    /*min-height: 100px;*/
    /*border: 1px solid #eebb55;*/
    /*border-radius: 7pt;*/
    /*background: #ffeebb;*/
/*}*/

/* Too narrow to support three columns */
@media all and (max-width: 640px) {

    #main, #page {
        -webkit-flex-flow: column;
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
        /* Return them to document order */
        -webkit-order: 0;
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }

}

/* Google Material Design - Color Guidelines https://material.io/guidelines/style/color.html#color-color-palette */
